[Desktop Entry]
Name=Rdesktop Lyon
Exec=rdesktop -k fr -d accelwide -n {{ remote.client_hostname }} remote.accelance.lyon -g 90%
Type=Application
Description=Custom Launcher
Icon=preferences-desktop-remote-desktop
Terminal=false
MimeType=application/x-remote-connection;x-scheme-handler/rdesktop;
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
X-Desktop-File-Install-Version=0.1
