<?xml version="1.0" encoding="UTF8"?>
<toolchains>
  <!-- JDK toolchains -->
  <toolchain>
    <type>jdk</type>
    <provides>
      <version>1.8</version>
      <vendor>oracle</vendor>
    </provides>
    <configuration>
	    <jdkHome>{{ powo_home }}/Documents/apps/jdk-1.8.112-x86_64</jdkHome>
    </configuration>
  </toolchain>
  <toolchain>
    <type>jdk</type>
    <provides>
      <version>1.7</version>
      <vendor>oracle</vendor>
    </provides>
    <configuration>
	    <jdkHome>{{ powo_home }}/Documents/apps/jdk-1.7.71-x86_64</jdkHome>
    </configuration>
  </toolchain>
</toolchains>
